---
import Layout from "../layouts/Layout.astro";
import ParticlesBackground from "../components/ParticlesBackground.astro";
import NavBar from "../components/NavBar.astro";
import Hero from "../components/Hero.astro";
import Docs from "../components/Docs.astro";
---

<Layout>
  <ParticlesBackground />
  <main>
    <NavBar />
    <Hero />
    <Docs />
  </main>
</Layout>
