---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import Features from "../components/Features.astro";
import License from "../components/License.astro";
import CTA from "../components/CTA.astro";
import Builder from "../components/Builder.astro";
import Toaster from "../components/Toaster.astro";
---

<Layout>
  <main>
    <Hero />
    <About />
    <Builder />
    <Features />
    <License />
    <CTA />
    <Toaster />
  </main>
</Layout>
