---
export interface Props {
  variant?: "primary" | "outline";
  type?: "button" | "submit" | "reset";
  href?: string;
  newTab?: boolean;
  [key: string]: any;
}

const {
  variant = "primary",
  type = "button",
  href,
  newTab = false,
  ...rest
} = Astro.props;
---

{
  href ? (
    <a
      href={href}
      target={newTab ? "_blank" : undefined}
      rel={newTab ? "noopener noreferrer" : undefined}
      class={`btn btn-${variant}`}
      {...rest}
    >
      <slot />
    </a>
  ) : (
    <button type={type} class={`btn btn-${variant}`} {...rest}>
      <slot />
    </button>
  )
}

<style>
  .btn {
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 150px;
    padding: 0.5rem 0.25rem;
    font-size: 0.875rem;
    font-weight: 500;
    border-radius: 0.5rem;
    cursor: pointer;
    text-decoration: none;

    font-family: var(--font-main);
    transition:
      background-color 0.3s ease,
      color 0.3s ease,
      border-color 0.3s ease;
  }

  .btn:focus {
    outline: none;
    box-shadow: 0 0 0 2px color-mix(in srgb, var(--text-color) 20%, transparent);
  }

  /* --- VARIANTE PRIMARY --- */
  .btn-primary {
    background-color: var(--text-color);
    color: var(--bg-color);
    border: 1px solid var(--text-color);
  }

  .btn-primary:hover {
    /* Suavizamos el color un 15% al pasar el ratón usando tu variable base */
    background-color: color-mix(
      in srgb,
      var(--text-color) 90%,
      var(--bg-color)
    );
    border-color: color-mix(in srgb, var(--text-color) 85%, var(--bg-color));
  }

  /* --- VARIANTE OUTLINE --- */
  .btn-outline {
    background-color: transparent;
    color: var(--text-color);
    border: 1px solid color-mix(in srgb, var(--text-color) 20%, transparent);
  }

  .btn-outline:hover {
    background-color: color-mix(in srgb, var(--bg-color), white 25%);
    border-color: color-mix(in srgb, var(--text-color) 25%, transparent);
  }

  :global(.dark) .btn-outline:hover {
    background-color: color-mix(in srgb, var(--bg-color), white 10%);
  }
</style>
