---
export interface Props {
  variant?: "primary" | "outline";
  type?: "button" | "submit" | "reset";
  href?: string;
  newTab?: boolean;
  fullWidth?: boolean; // <-- Nueva Prop
  [key: string]: any;
}

const {
  variant = "primary",
  type = "button",
  href,
  newTab = false,
  fullWidth = false, // <-- Por defecto es false
  ...rest
} = Astro.props;
---

{
  href ? (
    <a
      href={href}
      target={newTab ? "_blank" : undefined}
      rel={newTab ? "noopener noreferrer" : undefined}
      class={`btn btn-${variant} ${fullWidth ? "full-width" : ""}`}
      {...rest}
    >
      <slot />
    </a>
  ) : (
    <button
      type={type}
      class={`btn btn-${variant} ${fullWidth ? "full-width" : ""}`}
      {...rest}
    >
      <slot />
    </button>
  )
}

<style>
  .btn {
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 160px;
    padding: 0.5rem 1.5rem;
    font-size: 0.875rem;
    font-weight: 500;
    border-radius: 0.5rem;
    cursor: pointer;
    text-decoration: none;
    font-family: var(--font-main);
    transition: all 0.3s ease;
  }
  .btn:active {
    transform: var(--btn-active-scale);
  }
  .btn:focus {
    outline: none;
  }

  /* --- VARIANTE PRIMARY --- */
  .btn-primary {
    background-color: var(--text-color);
    color: var(--bg-color);
    border: 1px solid var(--text-color);
  }

  .btn-primary:hover {
    /* Suavizamos el color un 15% al pasar el ratón usando tu variable base */
    background-color: color-mix(
      in srgb,
      var(--text-color) 90%,
      var(--bg-color)
    );
    border-color: color-mix(in srgb, var(--text-color) 85%, var(--bg-color));
  }

  /* --- VARIANTE OUTLINE --- */
  /* --- VARIANTE OUTLINE --- */
  .btn-outline {
    background-color: transparent; /* importante para hover */
    color: var(--text-color);
    border: 1px solid color-mix(in srgb, var(--text-color) 20%, transparent);
    transition: all 0.3s ease; /* importante para animación */
    text-decoration: none; /* evita subrayado */
  }

  .btn-outline:hover {
    background-color: color-mix(in srgb, var(--bg-color), white 25%);
    border-color: color-mix(in srgb, var(--text-color) 25%, transparent);
    transform: scale(var(--btn-hover-scale));
  }
  :global(.dark) .btn-outline:hover {
    background-color: color-mix(in srgb, var(--bg-color), white 10%);
  }

  @media (max-width: 640px) {
    .btn.full-width {
      width: 100%;
      min-width: 0; /* Importante para anular el 160px */
      padding: 0.6rem 1.5rem; /* Un poco más de área táctil */
    }
  }
</style>
