---
import { ICONS } from "../utils/icons";
import { BRANDS } from "../utils/brands";

type IconName = keyof typeof ICONS | keyof typeof BRANDS;

interface Props {
  name: IconName;
  color?: string;
}

const { name, color = "currentColor" } = Astro.props as Props;

const icon =
  ICONS[name as keyof typeof ICONS] ||
  BRANDS[name as keyof typeof BRANDS] ||
  null;
---

{
  icon && (
    <span style={`color:${color}`}>
      <Fragment set:html={icon} />
    </span>
  )
}
