---
import { ICONS } from "../utils/icons"; // Ajusta la ruta
---

<button id="themeToggle" aria-label="Change theme">
  <Fragment set:html={ICONS.sun} />
  <Fragment set:html={ICONS.moon} />
</button>

<style>
  #themeToggle {
    position: fixed;
    top: 1.5rem;
    right: 1.5rem;
    z-index: 50;
    background: transparent;
    border: 1px transparent;
    border-radius: 999px;
    cursor: pointer;
    padding: 0.5rem;
    color: inherit;
    transition: all 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #themeToggle:hover {
    background: rgba(128, 128, 128, 0.1);
  }

  /* Control de visibilidad de iconos */
  :global(.sun) {
    display: none;
  }
  :global(.moon) {
    display: block;
  }

  :global(.dark .sun) {
    display: block;
  }
  :global(.dark .moon) {
    display: none;
  }
</style>

<!-- <script>
  function setupThemeToggle() {
    const btn = document.getElementById("themeToggle");
    const element = document.documentElement;

    // dark por defecto
    const theme = localStorage.getItem("theme") || "dark";
    element.classList.toggle("dark", theme === "dark");

    if (btn) {
      btn.addEventListener("click", () => {
        element.classList.toggle("dark");
        const isDark = element.classList.contains("dark");
        localStorage.setItem("theme", isDark ? "dark" : "light");
      });
    }
  }

  setupThemeToggle();
  document.addEventListener("astro:after-swap", setupThemeToggle);
</script> -->

<script>
  function setupThemeToggle() {
    const btn = document.getElementById("themeToggle");
    const element = document.documentElement;

    // Preferir modo oscuro del sistema
    if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
      element.classList.add("dark");
    }

    if (btn) {
      btn.addEventListener("click", () => {
        element.classList.toggle("dark");
      });
    }
  }

  setupThemeToggle();
  document.addEventListener("astro:after-swap", setupThemeToggle);
</script>
