---
import Badge from "../components/Badge.astro";
import ToastContainer from "../components/ToastContainer.astro";
import "../styles/global.css";
import logoLight from "../assets/logo-light.svg";
import logoDark from "../assets/logo-dark.svg";
---

<div id="container">
  <main class="text-center">
    <div class="blur-gradient"></div>
    <section class="hero">
      <Badge
        label="Comming Soon"
        theme="gradient"
        color="var(--accent-toast)"
        gradientColors={["#f97316", "#e50a64"]}
      />
      <!-- <img src={logoLight} alt="Logo claro" class="block dark:hidden" />
      <img src={logoDark} alt="Logo oscuro" class="hidden dark:block" /> -->
      <div class="logo-container">
        <h1 class="logo-text">
          <img
            src={logoDark.src}
            alt="Logo"
            class="logo-dark block dark:hidden"
          />
          <img
            src={logoLight.src}
            alt="Logo"
            class="logo-light hidden dark:block"
          />
          toas<span class="text-gradient-toastro">tro</span>
        </h1>
      </div>
      <h2 class="description">
        A beautiful and minimal<br />
        <span class="text-gradient-orange">toast</span> for
        <span class="text-gradient-pink">Astro.</span>
      </h2>
      <!-- <ToastContainer />
      <button id="btn-success">Mostrar Toast Success</button>
      <button id="btn-gradient">Mostrar Toast Gradient</button>

      <script>
        document.getElementById("btn-success").addEventListener("click", () => {
          window.showToast({ message: "¡Éxito!", variant: "success" });
        });

        document
          .getElementById("btn-gradient")
          .addEventListener("click", () => {
            window.showToast({
              message: "Gradient!",
              theme: "gradient",
              gradientColors: ["#22c55e", "#16a34a"],
            });
          });
      </script> -->
    </section>
  </main>
</div>

<style>
  /* Por defecto (light mode) */
  .logo-dark {
    display: block;
  }
  .logo-light {
    display: none;
  }
  /* Cuando el dark mode está activo */
  :root[data-theme="dark"] .logo-light {
    display: none;
  }
  :root[data-theme="dark"] .logo-dark {
    display: block;
  }
  .hero {
    display: flex;
    flex-direction: column;
    align-items: center; /* centra horizontalmente */
    justify-content: center; /* centra verticalmente (opcional) */
  }
  .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .logo-text {
    display: inline-flex;
    font-size: 3rem;
    font-weight: 800;
    letter-spacing: -1px;
    margin: 1rem 0;
  }
  .logo-text img {
    width: 2rem; /* ajusta el tamaño del icono */
    height: auto;
    margin-right: 0.5rem;
  }
  .description {
    font-size: 1.75rem;
    font-weight: 300;
    margin: 0;
    text-align: center; /* centra el texto */
  }

  .text-gradient-toastro {
    background: linear-gradient(to right, #f97316, #ff000e, #bf0055);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .text-gradient-orange {
    background: linear-gradient(to right, #f97316, #fbbf24);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
  }
  .text-gradient-pink {
    background: linear-gradient(to right, #ec4899, #bf0055);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
  }
</style>
