---
import Badge from "../components/Badge.astro";
//import ToastContainer from "../components/ToastContainer.astro";
import "../styles/global.css";
import logoLight from "../assets/logo-light.svg";
import logoDark from "../assets/logo-dark.svg";
---

<div id="container">
  <main class="text-center">
    <div class="blur-gradient"></div>
    <section id="hero">
      <Badge
        label="Comming Soon"
        theme="gradient"
        color="var(--accent-toast)"
        gradientColors={["#f97316", "#e50a64"]}
      />
      <!-- <img src={logoLight} alt="Logo claro" class="block dark:hidden" />
      <img src={logoDark} alt="Logo oscuro" class="hidden dark:block" /> -->
      <div class="logo-container">
        <h1 class="logo-text">
          <img
            src={logoDark.src}
            alt="Logo"
            class="logo-dark block dark:hidden"
          />
          <img
            src={logoLight.src}
            alt="Logo"
            class="logo-light hidden dark:block"
          />
          toas<span class="text-gradient-toastro">tro</span>
        </h1>
      </div>
      <!-- <ToastContainer />

      <button id="btn-success">Mostrar Toast Success</button>
      <button id="btn-gradient">Mostrar Toast Gradient</button>

      <script>
        document.getElementById("btn-success").addEventListener("click", () => {
          window.showToast({ message: "¡Éxito!", variant: "success" });
        });

        document
          .getElementById("btn-gradient")
          .addEventListener("click", () => {
            window.showToast({
              message: "Gradient!",
              theme: "gradient",
              gradientColors: ["#22c55e", "#16a34a"],
            });
          });
      </script> -->
      <h2 class="description">
        A beautiful and minimal
        <span class="text-gradient-orange">toast</span> for
        <span class="text-gradient-pink">Astro.</span>
      </h2>
      <!-- <section id="links">
        <a class="button" href="https://docs.astro.build">Read our docs</a>
        <a href="https://astro.build/chat"
          >Join our Discord <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 127.14 96.36"
            ><path
              fill="currentColor"
              d="M107.7 8.07A105.15 105.15 0 0 0 81.47 0a72.06 72.06 0 0 0-3.36 6.83 97.68 97.68 0 0 0-29.11 0A72.37 72.37 0 0 0 45.64 0a105.89 105.89 0 0 0-26.25 8.09C2.79 32.65-1.71 56.6.54 80.21a105.73 105.73 0 0 0 32.17 16.15 77.7 77.7 0 0 0 6.89-11.11 68.42 68.42 0 0 1-10.85-5.18c.91-.66 1.8-1.34 2.66-2a75.57 75.57 0 0 0 64.32 0c.87.71 1.76 1.39 2.66 2a68.68 68.68 0 0 1-10.87 5.19 77 77 0 0 0 6.89 11.1 105.25 105.25 0 0 0 32.19-16.14c2.64-27.38-4.51-51.11-18.9-72.15ZM42.45 65.69C36.18 65.69 31 60 31 53s5-12.74 11.43-12.74S54 46 53.89 53s-5.05 12.69-11.44 12.69Zm42.24 0C78.41 65.69 73.25 60 73.25 53s5-12.74 11.44-12.74S96.23 46 96.12 53s-5.04 12.69-11.43 12.69Z"
            ></path></svg
          >
        </a>
      </section> -->
    </section>
  </main>

  <!-- <a href="https://astro.build/blog/astro-5/" id="news" class="box">
    <svg width="32" height="32" fill="none" xmlns="http://www.w3.org/2000/svg"
      ><path
        d="M24.667 12c1.333 1.414 2 3.192 2 5.334 0 4.62-4.934 5.7-7.334 12C18.444 28.567 18 27.456 18 26c0-4.642 6.667-7.053 6.667-14Zm-5.334-5.333c1.6 1.65 2.4 3.43 2.4 5.333 0 6.602-8.06 7.59-6.4 17.334C13.111 27.787 12 25.564 12 22.666c0-4.434 7.333-8 7.333-16Zm-6-5.333C15.111 3.555 16 5.556 16 7.333c0 8.333-11.333 10.962-5.333 22-3.488-.774-6-4-6-8 0-8.667 8.666-10 8.666-20Z"
        fill="#111827"></path></svg
    >
    <h2>What's New in Astro 5.0?</h2>
    <p>
      From content layers to server islands, click to learn more about the new
      features and improvements in Astro 5.0
    </p>
  </a> -->

  <style>
    /* Por defecto (light mode) */
    .logo-dark {
      display: block;
    }
    .logo-light {
      display: none;
    }

    /* Cuando el dark mode está activo */
    :root[data-theme="dark"] .logo-light {
      display: none;
    }
    :root[data-theme="dark"] .logo-dark {
      display: block;
    }
    #hero {
      display: flex;
      flex-direction: column;
      align-items: center; /* centra horizontalmente */
      justify-content: center; /* centra verticalmente (opcional) */
      gap: 1rem; /* espacio entre elementos */
    }
    .logo-container {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: -1rem 0;
    }
    .logo-text {
      display: inline-flex;
      font-size: 3rem;
      font-weight: 800;
      letter-spacing: -1px;
      margin: 1rem 0;
    }
    .logo-text img {
      width: 1.5‑2rem; /* ajusta el tamaño del icono */
      height: auto;
      margin-right: 0.5rem;
    }
    .description {
      font-size: 1.75rem;
      font-weight: 300;
      margin: -0.25rem;
    }
    span {
      font-weight: 800;
    }

    img {
      width: 2.5rem;
      height: auto;
    }

    .text-gradient-toastro {
      background: linear-gradient(to right, #f97316, #ff000e, #bf0055);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    .text-gradient-orange {
      background: linear-gradient(to right, #f97316, #fbbf24);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    .text-gradient-pink {
      background: linear-gradient(to right, #ec4899, #bf0055);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  </style>
</div>
