---
import logoLight from "@/assets/logo-light.svg";
import logoDark from "@/assets/logo-dark.svg";

interface Props {
  size?: number;
}

const { size = 20 } = Astro.props;
---

<div class="logo" style={`--logo-size:${size}px`}>
  <div class="logo-wrapper">
    <img src={logoDark.src} alt="Toastro logo" class="logo-dark" />
    <img src={logoLight.src} alt="Toastro logo" class="logo-light" />
  </div>

  <span translate="no" class="logo-text">
    toast<span class="text-brand">ro</span>
  </span>
</div>

<style>
  .logo {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    animation: bounce 1s both;
  }

  .logo-wrapper {
    width: var(--logo-size);
    height: var(--logo-size);
  }

  .logo-wrapper img {
    width: 100%;
    height: 100%;
  }

  .logo-text {
    font-size: calc(var(--logo-size) * 1.1);
    font-weight: 700;
    letter-spacing: -1px;
    color: var(--text);
  }

  .text-brand {
    color: var(--brand);
  }

  .logo-dark {
    display: none;
  }

  html.dark .logo-dark {
    display: block;
  }

  html.dark .logo-light {
    display: none;
  }
</style>
